<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .tab{

    }
</style>
<body>
    <form>
        <table class="tab">
            <tr>
                <td class="font_style"><strong>借款人信息</strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>手机号码</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>借款需求</td>
                <td></td>
            </tr>
            <tr>
                <td>申请金额</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>可接受最高月还款额</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>打卡月收入</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td class="font_style"><strong>单位资料</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>工作单位</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>工作名称</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>部门名称</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>职位</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>单位地址(详细)</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>单位电话(区号+电话号)</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>入职时间(年月)</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>工作证明人</td>
                <td>姓名</td>
                <td><input type="text"></td>
                <td>手机号</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td class="font_style"><strong>居住地资料</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>居住地详细地址</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>居住年限</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>配偶</td>
                <td>姓名</td>
                <td><input type="text"></td>
                <td>身份证号码</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>直系联系人</td>
                <td>关系</td>
                <td><input type="text"></td>
                <td>姓名</td>
                <td><input type="text"></td>
                <td>电话</td>
                <td><input type="text"></td>
            </tr>
        </table>
    </form>
</body>
</html>